.die {
    min-height: 100px;
    min-width: 100px;
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    padding: 1px;
    background-color: black;
    border-radius: 10px;
    
}
