.die {
    max-height: 100px;
    max-width: 100px;
    height: 100%;
    width: 100%
    ;
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    padding: 1px;
    background-color: black;
    border-radius: 10px;
    
}
