
* {
  padding: 0;
  margin: 0;
}

.App {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  }

.dice__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}



